:root {
    --theme-bg: #fafafa;
    --theme-text: #212121;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --theme-bg: #1e1e1e;
        --theme-text: #d4d4d4;
    }
}

:root[data-theme='dark'] {
    --theme-bg: #1e1e1e;
    --theme-text: #d4d4d4;
}

html, body {
    background-color: var(--theme-bg);
    color: var(--theme-text);
}